&.Arduino				{ color:#bd79d1;}
&.Java					{ color:#b07219;}
&.VHDL					{ color:#543978;}
&.Scala					{ color:#7dd3b0;}
&.Emacs-Lisp		{ color:#c065db;}
&.Delphi				{ color:#b0ce4e;}
&.Ada						{ color:#02f88c;}
&.VimL					{ color:#199c4b;}
&.Perl					{ color:#0298c3;}
&.Lua						{ color:#fa1fa1;}
&.Rebol					{ color:#358a5b;}
&.Verilog				{ color:#848bf3;}
&.Factor				{ color:#636746;}
&.Ioke					{ color:#078193;}
&.ActionScript	{ color:#078193;}
&.R							{ color:#198ce7;}
&.Erlang				{ color:#949e0e;}
&.Nu						{ color:#c9df40;}
&.AutoHotkey		{ color:#6594b9;}
&.Clojure				{ color:#db5855;}
&.Shell					{ color:#5861ce;}
&.Assembly			{ color:#a67219;}
&.Parrot				{ color:#f3ca0a;}
&.Turing				{ color:#45f715;}
&.AppleScript		{ color:#3581ba;}
&.Eiffel				{ color:#946d57;}
&.Lisp					{ color:#3fb68b;}
&.Dart					{ color:#cccccc;}
&.SuperCollider	{ color:#46390b;}
&.CoffeeScript	{ color:#244776;}
&.XQuery				{ color:#2700e2;}
&.Haskell				{ color:#29b544;}
&.Racket				{ color:#ae17ff;}
&.Elixir				{ color:#6e4a7e;}
&.HaXe					{ color:#346d51;}
&.Ruby					{ color:#701516;}
&.Self					{ color:#0579aa;}
&.Fantom				{ color:#dbded5;}
&.Groovy				{ color:#e69f56;}
&.C							{ color:#555555;}
&.JavaScript		{ color:#f15501;}
&.D							{ color:#fcd46d;}
&.ooc						{ color:#b0b77e;}
&.C-plus-plus		{ color:#f34b7d;}
&.Dylan					{ color:#3ebc27;}
&.Nimrod				{ color:#37775b;}
&.Standard-ML		{ color:#dc566d;}
&.Objective-C		{ color:#f15501;} /* this is the real color, but I like the Clojure Color more, as it adds more variety */
&.Objective-C		{ color:#db5855;}
&.Nemerle				{ color:#0d3c6e;}
&.Mirah					{ color:#c7a938;}
&.Boo						{ color:#d4bec1;}
&.Objective-J		{ color:#ff0c5a;}
&.Rust					{ color:#dea584;}
&.Prolog				{ color:#74283c;}
&.Ecl						{ color:#8a1267;}
&.Gosu					{ color:#82937f;}
&.FORTRAN				{ color:#4d41b1;}
&.ColdFusion		{ color:#ed2cd6;}
&.OCaml					{ color:#3be133;}
&.Fancy					{ color:#7b9db4;}
&.Pure-Data			{ color:#f15501;}
&.Python				{ color:#3581ba;}
&.Tcl						{ color:#e4cc98;}
&.Arc						{ color:#ca2afe;}
&.Puppet				{ color:#cc5555;}
&.Io						{ color:#a9188d;}
&.Max						{ color:#ce279c;}
&.Go						{ color:#8d04eb;}
&.ASP						{ color:#6a40fd;}
&.Visual-Basic	{ color:#945db7;}
&.PHP						{ color:#6e03c1;}
&.Scheme				{ color:#1e4aec;}
&.Vala					{ color:#3581ba;}
&.Smalltalk			{ color:#596706;}
&.Matlab				{ color:#bb92ac;}
