/* Helper for responsive design */
/* From : https://gist.github.com/2361408 */
/* Helper for retina displays */
/* From : https://gist.github.com/2361408 */
/* line 3, home.css.scss */
.smaller {
  padding: 0px 0px; }
  @media screen and (max-width: 1024px) {
    /* line 3, home.css.scss */
    .smaller {
      padding: 0px 20px; } }

/********************* BANNER STYLES *****************/
/* line 12, home.css.scss */
#home-banner {
  background: url('/img/esri-github-banner.jpg?1356550004') no-repeat center center;
  color: white;
  height: auto;
  background-color: #0070ad; }

/* line 19, home.css.scss */
.larger-icon {
  font-size: 200%;
  vertical-align: -0.25em;
  padding-right: 4px; }

/* line 25, home.css.scss */
#browse-github {
  color: #0078C5; }

/* line 29, home.css.scss */
#home-main-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0.5em;
  width: 100%;
  margin-top: 3.75em;
  margin-bottom: 1.5em; }
  /* line 33, home.css.scss */
  #home-main-text h1 {
    font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
    color: white;
    text-align: center; }
  /* line 38, home.css.scss */
  #home-main-text p {
    font-size: 1.125em;
    line-height: 1.33333em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
    width: 100%;
    line-height: 32px;
    color: #ffffff;
    text-align: center; }

/* line 51, home.css.scss */
.filter-container {
  width: 100%;
  margin-top: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0.5em;
  width: 100%; }
  /* line 55, home.css.scss */
  .filter-container span {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
    width: auto;
    padding-top: .75em; }

/* line 66, home.css.scss */
em.lable-it {
  margin-bottom: 1em;
  padding-left: 0 !important;
  padding-top: 1em !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0.5em;
  width: 33.33333%; }
  @media screen and (max-width: 1024px) {
    /* line 66, home.css.scss */
    em.lable-it {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      padding: 0 0.5em;
      width: 100%; } }

/********************* REPO STYLES *****************/
/* line 78, home.css.scss */
.repo-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0.5em;
  width: 33.33333%;
  margin-bottom: 1.5em;
  background-color: #ffffff;
  position: relative;
  display: block;
  float: left; }
  @media screen and (max-width: 1024px) {
    /* line 78, home.css.scss */
    .repo-container {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      padding: 0 0.5em;
      width: 33.33333%; } }
  @media screen and (max-width: 768px) {
    /* line 78, home.css.scss */
    .repo-container {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      padding: 0 0.5em;
      width: 50%; } }
  @media screen and (max-width: 480px) {
    /* line 78, home.css.scss */
    .repo-container {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      padding: 0 0.5em;
      width: 100%; } }

/* line 96, home.css.scss */
.repo {
  height: auto;
  min-height: 10em;
  padding: 12px;
  background-color: #f4f4f4;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  /* line 105, home.css.scss */
  .repo p {
    padding: 0 12px;
    margin-bottom: 1em !important; }
  /* line 109, home.css.scss */
  .repo p.stats {
    color: #898a8a; }
    /* line 112, home.css.scss */
    .repo p.stats span.icon-star {
      margin-left: 12px; }

/* line 118, home.css.scss */
.repo-header {
  margin: 20px 0 12px 0;
  border-left: 2px solid #efefef;
  padding-left: 12px;
  border-color: #0298c3;
  /* this is the real color, but I like the Clojure Color more, as it adds more variety */ }
  /* line 123, home.css.scss */
  .repo-header.Arduino {
    border-color: #bd79d1; }
  /* line 124, home.css.scss */
  .repo-header.Java {
    border-color: #b07219; }
  /* line 125, home.css.scss */
  .repo-header.VHDL {
    border-color: #543978; }
  /* line 126, home.css.scss */
  .repo-header.Scala {
    border-color: #7dd3b0; }
  /* line 127, home.css.scss */
  .repo-header.Emacs-Lisp {
    border-color: #c065db; }
  /* line 128, home.css.scss */
  .repo-header.Delphi {
    border-color: #b0ce4e; }
  /* line 129, home.css.scss */
  .repo-header.Ada {
    border-color: #02f88c; }
  /* line 130, home.css.scss */
  .repo-header.VimL {
    border-color: #199c4b; }
  /* line 131, home.css.scss */
  .repo-header.Perl {
    border-color: #0298c3; }
  /* line 132, home.css.scss */
  .repo-header.Lua {
    border-color: #fa1fa1; }
  /* line 133, home.css.scss */
  .repo-header.Rebol {
    border-color: #358a5b; }
  /* line 134, home.css.scss */
  .repo-header.Verilog {
    border-color: #848bf3; }
  /* line 135, home.css.scss */
  .repo-header.Factor {
    border-color: #636746; }
  /* line 136, home.css.scss */
  .repo-header.Ioke {
    border-color: #078193; }
  /* line 137, home.css.scss */
  .repo-header.ActionScript {
    border-color: #078193; }
  /* line 138, home.css.scss */
  .repo-header.R {
    border-color: #198ce7; }
  /* line 139, home.css.scss */
  .repo-header.Erlang {
    border-color: #949e0e; }
  /* line 140, home.css.scss */
  .repo-header.Nu {
    border-color: #c9df40; }
  /* line 141, home.css.scss */
  .repo-header.AutoHotkey {
    border-color: #6594b9; }
  /* line 142, home.css.scss */
  .repo-header.Clojure {
    border-color: #db5855; }
  /* line 143, home.css.scss */
  .repo-header.Shell {
    border-color: #5861ce; }
  /* line 144, home.css.scss */
  .repo-header.Assembly {
    border-color: #a67219; }
  /* line 145, home.css.scss */
  .repo-header.Parrot {
    border-color: #f3ca0a; }
  /* line 146, home.css.scss */
  .repo-header.Turing {
    border-color: #45f715; }
  /* line 147, home.css.scss */
  .repo-header.AppleScript {
    border-color: #3581ba; }
  /* line 148, home.css.scss */
  .repo-header.Eiffel {
    border-color: #946d57; }
  /* line 149, home.css.scss */
  .repo-header.Lisp {
    border-color: #3fb68b; }
  /* line 150, home.css.scss */
  .repo-header.Dart {
    border-color: #cccccc; }
  /* line 151, home.css.scss */
  .repo-header.SuperCollider {
    border-color: #46390b; }
  /* line 152, home.css.scss */
  .repo-header.CoffeeScript {
    border-color: #244776; }
  /* line 153, home.css.scss */
  .repo-header.XQuery {
    border-color: #2700e2; }
  /* line 154, home.css.scss */
  .repo-header.Haskell {
    border-color: #29b544; }
  /* line 155, home.css.scss */
  .repo-header.Racket {
    border-color: #ae17ff; }
  /* line 156, home.css.scss */
  .repo-header.Elixir {
    border-color: #6e4a7e; }
  /* line 157, home.css.scss */
  .repo-header.HaXe {
    border-color: #346d51; }
  /* line 158, home.css.scss */
  .repo-header.Ruby {
    border-color: #701516; }
  /* line 159, home.css.scss */
  .repo-header.Self {
    border-color: #0579aa; }
  /* line 160, home.css.scss */
  .repo-header.Fantom {
    border-color: #dbded5; }
  /* line 161, home.css.scss */
  .repo-header.Groovy {
    border-color: #e69f56; }
  /* line 162, home.css.scss */
  .repo-header.C {
    border-color: #555555; }
  /* line 163, home.css.scss */
  .repo-header.JavaScript {
    border-color: #f15501; }
  /* line 164, home.css.scss */
  .repo-header.D {
    border-color: #fcd46d; }
  /* line 165, home.css.scss */
  .repo-header.ooc {
    border-color: #b0b77e; }
  /* line 166, home.css.scss */
  .repo-header.C-plus-plus {
    border-color: #f34b7d; }
  /* line 167, home.css.scss */
  .repo-header.C-sharp {
    border-color: #555555; }
  /* line 168, home.css.scss */
  .repo-header.Dylan {
    border-color: #3ebc27; }
  /* line 169, home.css.scss */
  .repo-header.Nimrod {
    border-color: #37775b; }
  /* line 170, home.css.scss */
  .repo-header.Standard-ML {
    border-color: #dc566d; }
  /* line 171, home.css.scss */
  .repo-header.Objective-C {
    border-color: #f15501; }
  /* line 172, home.css.scss */
  .repo-header.Objective-C {
    border-color: #db5855; }
  /* line 173, home.css.scss */
  .repo-header.Nemerle {
    border-color: #0d3c6e; }
  /* line 174, home.css.scss */
  .repo-header.Mirah {
    border-color: #c7a938; }
  /* line 175, home.css.scss */
  .repo-header.Boo {
    border-color: #d4bec1; }
  /* line 176, home.css.scss */
  .repo-header.Objective-J {
    border-color: #ff0c5a; }
  /* line 177, home.css.scss */
  .repo-header.Rust {
    border-color: #dea584; }
  /* line 178, home.css.scss */
  .repo-header.Prolog {
    border-color: #74283c; }
  /* line 179, home.css.scss */
  .repo-header.Ecl {
    border-color: #8a1267; }
  /* line 180, home.css.scss */
  .repo-header.Gosu {
    border-color: #82937f; }
  /* line 181, home.css.scss */
  .repo-header.FORTRAN {
    border-color: #4d41b1; }
  /* line 182, home.css.scss */
  .repo-header.ColdFusion {
    border-color: #ed2cd6; }
  /* line 183, home.css.scss */
  .repo-header.OCaml {
    border-color: #3be133; }
  /* line 184, home.css.scss */
  .repo-header.Fancy {
    border-color: #7b9db4; }
  /* line 185, home.css.scss */
  .repo-header.Pure-Data {
    border-color: #f15501; }
  /* line 186, home.css.scss */
  .repo-header.Python {
    border-color: #3581ba; }
  /* line 187, home.css.scss */
  .repo-header.Tcl {
    border-color: #e4cc98; }
  /* line 188, home.css.scss */
  .repo-header.Arc {
    border-color: #ca2afe; }
  /* line 189, home.css.scss */
  .repo-header.Puppet {
    border-color: #cc5555; }
  /* line 190, home.css.scss */
  .repo-header.Io {
    border-color: #a9188d; }
  /* line 191, home.css.scss */
  .repo-header.Max {
    border-color: #ce279c; }
  /* line 192, home.css.scss */
  .repo-header.Go {
    border-color: #8d04eb; }
  /* line 193, home.css.scss */
  .repo-header.ASP {
    border-color: #6a40fd; }
  /* line 194, home.css.scss */
  .repo-header.Visual-Basic {
    border-color: #945db7; }
  /* line 195, home.css.scss */
  .repo-header.PHP {
    border-color: #6e03c1; }
  /* line 196, home.css.scss */
  .repo-header.Scheme {
    border-color: #1e4aec; }
  /* line 197, home.css.scss */
  .repo-header.Vala {
    border-color: #3581ba; }
  /* line 198, home.css.scss */
  .repo-header.Smalltalk {
    border-color: #596706; }
  /* line 199, home.css.scss */
  .repo-header.Matlab {
    border-color: #bb92ac; }
  /* line 200, home.css.scss */
  .repo-header h2 {
    font-size: 1.5em;
    line-height: 1.25em;
    color: #393b3a;
    text-transform: lowercase; }
    /* line 201, home.css.scss */
    .repo-header h2 a {
      color: #393b3a; }
    /* line 204, home.css.scss */
    .repo-header h2 a:hover {
      color: #222; }
  /* line 208, home.css.scss */
  .repo-header h3 {
    font-size: 1.25em;
    line-height: 1.5em;
    /* this is the real color, but I like the Clojure Color more, as it adds more variety */ }
    /* line 209, home.css.scss */
    .repo-header h3.Arduino {
      color: #bd79d1; }
    /* line 210, home.css.scss */
    .repo-header h3.Java {
      color: #b07219; }
    /* line 211, home.css.scss */
    .repo-header h3.VHDL {
      color: #543978; }
    /* line 212, home.css.scss */
    .repo-header h3.Scala {
      color: #7dd3b0; }
    /* line 213, home.css.scss */
    .repo-header h3.Emacs-Lisp {
      color: #c065db; }
    /* line 214, home.css.scss */
    .repo-header h3.Delphi {
      color: #b0ce4e; }
    /* line 215, home.css.scss */
    .repo-header h3.Ada {
      color: #02f88c; }
    /* line 216, home.css.scss */
    .repo-header h3.VimL {
      color: #199c4b; }
    /* line 217, home.css.scss */
    .repo-header h3.Perl {
      color: #0298c3; }
    /* line 218, home.css.scss */
    .repo-header h3.Lua {
      color: #fa1fa1; }
    /* line 219, home.css.scss */
    .repo-header h3.Rebol {
      color: #358a5b; }
    /* line 220, home.css.scss */
    .repo-header h3.Verilog {
      color: #848bf3; }
    /* line 221, home.css.scss */
    .repo-header h3.Factor {
      color: #636746; }
    /* line 222, home.css.scss */
    .repo-header h3.Ioke {
      color: #078193; }
    /* line 223, home.css.scss */
    .repo-header h3.ActionScript {
      color: #078193; }
    /* line 224, home.css.scss */
    .repo-header h3.R {
      color: #198ce7; }
    /* line 225, home.css.scss */
    .repo-header h3.Erlang {
      color: #949e0e; }
    /* line 226, home.css.scss */
    .repo-header h3.Nu {
      color: #c9df40; }
    /* line 227, home.css.scss */
    .repo-header h3.AutoHotkey {
      color: #6594b9; }
    /* line 228, home.css.scss */
    .repo-header h3.Clojure {
      color: #db5855; }
    /* line 229, home.css.scss */
    .repo-header h3.Shell {
      color: #5861ce; }
    /* line 230, home.css.scss */
    .repo-header h3.Assembly {
      color: #a67219; }
    /* line 231, home.css.scss */
    .repo-header h3.Parrot {
      color: #f3ca0a; }
    /* line 232, home.css.scss */
    .repo-header h3.Turing {
      color: #45f715; }
    /* line 233, home.css.scss */
    .repo-header h3.AppleScript {
      color: #3581ba; }
    /* line 234, home.css.scss */
    .repo-header h3.Eiffel {
      color: #946d57; }
    /* line 235, home.css.scss */
    .repo-header h3.Lisp {
      color: #3fb68b; }
    /* line 236, home.css.scss */
    .repo-header h3.Dart {
      color: #cccccc; }
    /* line 237, home.css.scss */
    .repo-header h3.SuperCollider {
      color: #46390b; }
    /* line 238, home.css.scss */
    .repo-header h3.CoffeeScript {
      color: #244776; }
    /* line 239, home.css.scss */
    .repo-header h3.XQuery {
      color: #2700e2; }
    /* line 240, home.css.scss */
    .repo-header h3.Haskell {
      color: #29b544; }
    /* line 241, home.css.scss */
    .repo-header h3.Racket {
      color: #ae17ff; }
    /* line 242, home.css.scss */
    .repo-header h3.Elixir {
      color: #6e4a7e; }
    /* line 243, home.css.scss */
    .repo-header h3.HaXe {
      color: #346d51; }
    /* line 244, home.css.scss */
    .repo-header h3.Ruby {
      color: #701516; }
    /* line 245, home.css.scss */
    .repo-header h3.Self {
      color: #0579aa; }
    /* line 246, home.css.scss */
    .repo-header h3.Fantom {
      color: #dbded5; }
    /* line 247, home.css.scss */
    .repo-header h3.Groovy {
      color: #e69f56; }
    /* line 248, home.css.scss */
    .repo-header h3.C {
      color: #555555; }
    /* line 249, home.css.scss */
    .repo-header h3.JavaScript {
      color: #f15501; }
    /* line 250, home.css.scss */
    .repo-header h3.D {
      color: #fcd46d; }
    /* line 251, home.css.scss */
    .repo-header h3.ooc {
      color: #b0b77e; }
    /* line 252, home.css.scss */
    .repo-header h3.C-plus-plus {
      color: #f34b7d; }
    /* line 253, home.css.scss */
    .repo-header h3.C-sharp {
      color: #555555; }
    /* line 254, home.css.scss */
    .repo-header h3.Dylan {
      color: #3ebc27; }
    /* line 255, home.css.scss */
    .repo-header h3.Nimrod {
      color: #37775b; }
    /* line 256, home.css.scss */
    .repo-header h3.Standard-ML {
      color: #dc566d; }
    /* line 257, home.css.scss */
    .repo-header h3.Objective-C {
      color: #f15501; }
    /* line 258, home.css.scss */
    .repo-header h3.Objective-C {
      color: #db5855; }
    /* line 259, home.css.scss */
    .repo-header h3.Nemerle {
      color: #0d3c6e; }
    /* line 260, home.css.scss */
    .repo-header h3.Mirah {
      color: #c7a938; }
    /* line 261, home.css.scss */
    .repo-header h3.Boo {
      color: #d4bec1; }
    /* line 262, home.css.scss */
    .repo-header h3.Objective-J {
      color: #ff0c5a; }
    /* line 263, home.css.scss */
    .repo-header h3.Rust {
      color: #dea584; }
    /* line 264, home.css.scss */
    .repo-header h3.Prolog {
      color: #74283c; }
    /* line 265, home.css.scss */
    .repo-header h3.Ecl {
      color: #8a1267; }
    /* line 266, home.css.scss */
    .repo-header h3.Gosu {
      color: #82937f; }
    /* line 267, home.css.scss */
    .repo-header h3.FORTRAN {
      color: #4d41b1; }
    /* line 268, home.css.scss */
    .repo-header h3.ColdFusion {
      color: #ed2cd6; }
    /* line 269, home.css.scss */
    .repo-header h3.OCaml {
      color: #3be133; }
    /* line 270, home.css.scss */
    .repo-header h3.Fancy {
      color: #7b9db4; }
    /* line 271, home.css.scss */
    .repo-header h3.Pure-Data {
      color: #f15501; }
    /* line 272, home.css.scss */
    .repo-header h3.Python {
      color: #3581ba; }
    /* line 273, home.css.scss */
    .repo-header h3.Tcl {
      color: #e4cc98; }
    /* line 274, home.css.scss */
    .repo-header h3.Arc {
      color: #ca2afe; }
    /* line 275, home.css.scss */
    .repo-header h3.Puppet {
      color: #cc5555; }
    /* line 276, home.css.scss */
    .repo-header h3.Io {
      color: #a9188d; }
    /* line 277, home.css.scss */
    .repo-header h3.Max {
      color: #ce279c; }
    /* line 278, home.css.scss */
    .repo-header h3.Go {
      color: #8d04eb; }
    /* line 279, home.css.scss */
    .repo-header h3.ASP {
      color: #6a40fd; }
    /* line 280, home.css.scss */
    .repo-header h3.Visual-Basic {
      color: #945db7; }
    /* line 281, home.css.scss */
    .repo-header h3.PHP {
      color: #6e03c1; }
    /* line 282, home.css.scss */
    .repo-header h3.Scheme {
      color: #1e4aec; }
    /* line 283, home.css.scss */
    .repo-header h3.Vala {
      color: #3581ba; }
    /* line 284, home.css.scss */
    .repo-header h3.Smalltalk {
      color: #596706; }
    /* line 285, home.css.scss */
    .repo-header h3.Matlab {
      color: #bb92ac; }

/********** Isotope Styles ****************/
/* line 292, home.css.scss */
.isotope-item {
  z-index: 2; }

/* line 296, home.css.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/* line 302, home.css.scss */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

/* line 309, home.css.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

/* line 315, home.css.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/************ Chosen Styles **************/
/* line 323, home.css.scss */
.chzn-container {
  font-size: 16px;
  line-height: 32px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: right;
  margin-bottom: 1.5em;
  width: 600px !important; }
  @media screen and (max-width: 1024px) {
    /* line 323, home.css.scss */
    .chzn-container {
      width: 600px !important;
      float: left; } }
  @media screen and (max-width: 768px) {
    /* line 323, home.css.scss */
    .chzn-container {
      width: 100% !important;
      float: left; } }
  @media screen and (max-width: 480px) {
    /* line 323, home.css.scss */
    .chzn-container {
      width: 100% !important;
      float: left; } }

/* line 348, home.css.scss */
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010;
  margin-top: -3px; }

/* line 363, home.css.scss */
.chzn-drop {
  width: 600px !important;
  padding-top: 4px; }
  @media screen and (max-width: 1024px) {
    /* line 363, home.css.scss */
    .chzn-drop {
      width: 600px !important; } }
  @media screen and (max-width: 768px) {
    /* line 363, home.css.scss */
    .chzn-drop {
      width: 100% !important; } }
  @media screen and (max-width: 480px) {
    /* line 363, home.css.scss */
    .chzn-drop {
      width: 100% !important; } }

/* line 378, home.css.scss */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
  width: 600px !important; }
  @media screen and (max-width: 1024px) {
    /* line 378, home.css.scss */
    .chzn-container-multi .chzn-choices {
      width: 600px !important; } }
  @media screen and (max-width: 768px) {
    /* line 378, home.css.scss */
    .chzn-container-multi .chzn-choices {
      width: 100% !important; } }
  @media screen and (max-width: 480px) {
    /* line 378, home.css.scss */
    .chzn-container-multi .chzn-choices {
      width: 100% !important; } }

/* line 400, home.css.scss */
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none; }

/* line 405, home.css.scss */
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0; }

/* line 411, home.css.scss */
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: white !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 16px;
  padding: 12px 12px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: auto; }

/* line 427, home.css.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #cccccc;
  font-style: italic;
  font-family: "Lucida Grande", "Seoge UI", "Arial", sans-serif; }

/* line 433, home.css.scss */
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #efefef;
  color: #4d4d4d;
  border: 1px solid #ddd;
  line-height: 13px;
  padding: 0px 24px 10px 10px;
  list-style-type: none !important;
  background-image: none;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default; }

/* line 452, home.css.scss */
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
  border: 1px solid #ccc;
  color: #4d4d4d !important; }

/* line 458, home.css.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 8px;
  top: 11px;
  width: 12px;
  height: 11px;
  font-size: 1px;
  background: url("../img/chosen-sprite.png") -43px 1px no-repeat; }

/* line 469, home.css.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: -43px -10px; }

/* line 473, home.css.scss */
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: -43px -10px; }

/* line 477, home.css.scss */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 600px !important; }
  @media screen and (max-width: 1024px) {
    /* line 477, home.css.scss */
    .chzn-container .chzn-results {
      width: 600px !important; } }
  @media screen and (max-width: 768px) {
    /* line 477, home.css.scss */
    .chzn-container .chzn-results {
      width: 100% !important; } }
  @media screen and (max-width: 480px) {
    /* line 477, home.css.scss */
    .chzn-container .chzn-results {
      width: 100% !important; } }

/* line 498, home.css.scss */
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
  width: 600px !important; }
  @media screen and (max-width: 1024px) {
    /* line 498, home.css.scss */
    .chzn-container-multi .chzn-results {
      width: 600px !important; } }
  @media screen and (max-width: 768px) {
    /* line 498, home.css.scss */
    .chzn-container-multi .chzn-results {
      width: 100% !important; } }
  @media screen and (max-width: 480px) {
    /* line 498, home.css.scss */
    .chzn-container-multi .chzn-results {
      width: 100% !important; } }

/* line 512, home.css.scss */
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 15px 12px;
  margin: 0;
  list-style: none;
  list-style-type: none;
  background-image: none;
  width: 600px !important; }
  @media screen and (max-width: 1024px) {
    /* line 512, home.css.scss */
    .chzn-container .chzn-results li {
      width: 600px !important; } }
  @media screen and (max-width: 768px) {
    /* line 512, home.css.scss */
    .chzn-container .chzn-results li {
      width: 100% !important; } }
  @media screen and (max-width: 480px) {
    /* line 512, home.css.scss */
    .chzn-container .chzn-results li {
      width: 100% !important; } }

/* line 532, home.css.scss */
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
  list-style-type: none; }

/* line 538, home.css.scss */
.chzn-container .chzn-results .highlighted {
  background-color: #eeeeee;
  color: #4d4d4d; }

/* line 542, home.css.scss */
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal; }

/* line 546, home.css.scss */
.chzn-container .chzn-results .highlighted em {
  background: transparent; }

/* line 549, home.css.scss */
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item; }

/* line 553, home.css.scss */
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold; }

/* line 561, home.css.scss */
.chzn-container-multi .chzn-drop .result-selected {
  display: none; }

/* line 564, home.css.scss */
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */
  z-index: 1; }

/* line 572, home.css.scss */
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px; }

/* line 578, home.css.scss */
.chzn-container .chzn-results-scroll-down {
  bottom: 0; }

/* line 581, home.css.scss */
.chzn-container .chzn-results-scroll-down span {
  background: url("../img/chosen-sprite.png") no-repeat -4px -3px; }

/* line 585, home.css.scss */
.chzn-container .chzn-results-scroll-up span {
  background: url("../img/chosen-sprite.png") no-repeat -22px -3px; }

/* line 589, home.css.scss */
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #aaa; }

/* line 598, home.css.scss */
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important; }

/* line 602, home.css.scss */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important; }

/* line 606, home.css.scss */
.chzn-disabled .chzn-single {
  cursor: default; }

/* line 609, home.css.scss */
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default; }

/* line 613, home.css.scss */
.chzn-rtl {
  text-align: right; }

/* line 614, home.css.scss */
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible; }

/* line 615, home.css.scss */
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl; }

/* line 617, home.css.scss */
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto; }

/* line 618, home.css.scss */
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto; }

/* line 622, home.css.scss */
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl; }

/* line 623, home.css.scss */
.chzn-rtl .chzn-choices li {
  float: right; }

/* line 624, home.css.scss */
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0; }

/* line 625, home.css.scss */
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top; }

/* line 626, home.css.scss */
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

/* line 627, home.css.scss */
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px; }

/* line 628, home.css.scss */
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none; }

/* line 629, home.css.scss */
.chzn-rtl .chzn-search input {
  background: white url("../img/chosen-sprite.png") no-repeat -38px -22px;
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl; }

/* line 639, home.css.scss */
.no-results span {
  display: none; }
