{% macro projectsSection(projectInfo) %}
<div class="padding-leader-1">
  <h1 class="" id="{{ projectInfo.anchor }}">{{ projectInfo.title }}</h1>
  {% set project = projectInfo.projects[0] %}
  <div class="grid-container panel panel-gray">
    <div class="column-8">
      <img src="{{ project.image }}" />
    </div>
    <div class="column-12">
      <h4>{{ project.title }}</h4>
      <p>{{ project.description }}</p>
      <!--p><a href="{{ project.url }}" alt="{{ project.text }}">{{ project.text }} <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svg-icon"><path d="M7 4h5l12 12-12 12H7l12-12L7 4z"/></svg></a></p-->
    </div>
  </div>
  <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
    {% for project in projectInfo.projects %}
    {% if loop.index > 1 %}
    <div class="card block leader-1">
      <div class="card-content card-bar-{{ projectInfo.color }}">
        <h4>{{ project.title }}</h4>
        <p class="card-last">{{ project.description }}</p>
        <p><a href="{{ project.url }}" alt="{{ project.text }}">{{ project.text }}<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svg-icon leader-2"><path d="M7 4h5l12 12-12 12H7l12-12L7 4z"/></svg></a></p>
        <footer>
          <span class="font-size--2"><em><a class="link-green" href="https://github.com/Esri?language={{ project.searchLang }}">{{ project.displayLang }}</a></em></span><span class="icon-star right padding-left-1 text-dark-gray font-size--2"><em>{{ project.stars }}</em></span>
        </footer>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <p class="text-right leader-1"><a href="{{ projectInfo.url }}" alt="{{ projectInfo.text }}">{{ projectInfo.text }} <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svg-icon"><path d="M7 4h5l12 12-12 12H7l12-12L7 4z"/></svg></a></p>
</div>
{% endmacro %}

{% macro languageOptions(languageList) %}
{% for language in languageList %}<option data-filter="{{ language.tag }}">{{ language.label }}</option>{% endfor %}
{% endmacro %}